<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}">
                <strong>Edit Website</strong>
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWebsite(model.website)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>

        </div>
    </div>
</nav>



<div class="container">
    <div ng-show="model.error"
         class="alert alert-danger">{{model.error}}</div>

    <form role="form">
        <div class="form-group">
            <label for="name">Website Name:</label>
             <span ng-show="model.myForm.name.$invalid">
                <h1>{{model.alert}}</h1>
                 </span>
            <input ng-model="model.website.name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="desc">Website Description:</label>
            <textarea ng-model="model.website.description" rows="4" type="desc" class="form-control" id="desc" placeholder="Description"></textarea>
        </div>
        <a class="btn btn-danger btn-block" ng-click="model.deleteWebsite()">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-share-alt">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>