<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}">
                <strong>Edit Website</strong>
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWebsite(model.website)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>

        </div>
    </div>
</nav>



<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form name="myForm">
        <div class="form-group">
            <label for="name">Website Name</label>
            <input ng-model="model.website.name" required
                   ng-class="{ 'error-when' : submitted && myForm.name.$error.required }"
                   name="name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Google"
                   value="Facebook">
        </div>
        <span ng-show="submitted && myForm.name.$error.required"
              class="err">
            *Required Field
        </span>
        <div class="form-group">
            <label for="descr">Website Description</label>
            <textarea ng-model="model.website.desc"
                      class="form-control"
                      id="descr"
                      placeholder="Google is a search engine ..."
                      rows="4">
            </textarea>
        </div>
    </form>
    <a class="btn btn-danger btn-block" ng-click="model.deleteWebsite()">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-share-alt">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>