<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/new">
                <strong>New Website</strong>
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="myForm.$valid && model.createWebsite(name, description); submitted=true" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>

        </div>
    </div>
</nav>

<div ng-if="model.error"
     class="alert alert-danger"
     role="alert">
    {{model.error}}
</div>

<div class="container">
    <form name="myForm" role="form">
        <div class="form-group">
            <label for="name">Website Name</label>
            <input name="name" ng-model="name" required type="text" class="form-control" id="name" placeholder="Google">
        <span ng-show="submitted && myForm.name.$error.required"
              class="err">
            *Required Field
        </span>
        </div>
        <div class="form-group">
            <label for="desc">Website Description:</label>
            <textarea ng-model="description" rows="4" type="desc" class="form-control" id="desc" placeholder="Add Details"></textarea>
        </div>
</form>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
