<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="website-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="website-new.view.client.html">
                <strong>New Website</strong>
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createWebsite(name, description)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>

        </div>
    </div>
</nav>

<div class="container">
    <form role="form">
        <div class="form-group">
            <label for="name">Website Name:</label>
            <input ng-model="name" type="text" class="form-control" id="name" placeholder="Shikha">
        </div>
        <div class="form-group">
            <label for="desc">Website Description:</label>
            <textarea ng-model="Description" rows="4" type="desc" class="form-control" id="desc" placeholder="Add Details"></textarea>
        </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center"></div>
            <div class="col-xs-3 text-center"></div>
            <div class="col-xs-3 text-center"></div>
            <div class="col-xs-3 text-center pull-right">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>