<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                <strong>Edit Page</strong>
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatePage(model.page); submitted=true" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <form name="myForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.page.name" required
                   name="name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Page Name">
        </div>
        <span ng-show="submitted && myForm.name.$error.required"
              class="err">
            *Required Field
        </span>
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="model.page.title"
                   type="textarea"
                   class="form-control"
                   id="title"
                   placeholder="Page Title">
        </div>
        <a class="btn btn-danger  btn-block"
           ng-click="model.deletePage()">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
