<div class="container">
    <h1> Register </h1>
    <input ng-model="username" type="text" placeholder= "Username" class="form-control" id="usr" >
    <input ng-model="password" type="password" placeholder= "Password" class="form-control" id="pwd">
    <input ng-model="vpassword" type="password" placeholder= "Verify password" class="form-control" id="vpwd">
    <a class="btn btn-primary btn-block" ng-click="model.createUser(username, password, vpassword)">Register</a>
    <a class="btn btn-danger btn-block" href="#/login">Cancel</a>
</div>