<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                <strong>Widget Edit</strong>
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="myForm.$valid && model.updateWidget(); submitted=true" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>

        </div>
    </div>
</nav>


<div class="container">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <form name="myForm" action="/api/upload"  method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" required
                   ng-class="{ 'error-when' : submitted && myForm.name.$error.required }"
                   name="name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Top Heading">
        </div>
        <span ng-show="submitted && myForm.name.$error.required"
              class="err">
            *Required Field
        </span>
        <div class="form-group">
            <label for="text1">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   id="text1"
                   placeholder="logo">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url"
                   type="text"
                   class="form-control"
                   id="url"
                   placeholder="https://facebook/logo.png">
        </div>
        <div class="form-group">
            <label for="width1">Width</label>
            <input ng-model="model.widget.width"
                   type="text"
                   class="form-control"
                   id="width1"
                   placeholder="example: 500px or 100%">
        </div>
        <div class="form-group">
            <input  name="myFile" type="file" class="form-control"/>
            <input  name="width"  value="{{model.widget.width}}" style="display: none"/>
            <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
            <input  name="userId" value="{{model.userId}}"   style="display: none"/>
            <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
            <input  name="widgetId" value="{{model.widgetId}}"   style="display: none"/>
            <button type="submit"  class="btn btn-block btn-primary">Upload Image</button>
        </div>
    </form>

    <div class="custom-btns">
        <a class="btn btn-primary btn-block"
           href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr">Flickr Image Search</a>
        <a ng-click="model.deleteWidget()"
           class="btn btn-danger btn-block">Delete</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>