<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item borderless">
            <a ng-click="model.createWidget('HEADING')">
                Header
            </a>
        </li>
        <li class="list-group-item borderless">
            <a>
                Label
            </a>
        </li>
        <li class="list-group-item borderless">
            <a>
                HTML
            </a>
        </li>
        <li class="list-group-item borderless">
            <a ng-click="model.createWidget('TEXT INPUT')">
                Text Input
            </a>
        </li>
        <li class="list-group-item borderless">
            <a>
                Link
            </a>
        </li>
        <li class="list-group-item borderless">
            <a>
                Button
            </a>
        </li>
        <li class="list-group-item borderless">
            <a ng-click="model.createWidget('IMAGE')">
                Image
            </a>
        </li>
        <li class="list-group-item borderless">
            <a ng-click="model.createWidget('YOUTUBE')">
                YouTube
            </a>
        </li>
        <li class="list-group-item borderless">
            <a>
                Data Table
            </a>
        </li>
        <li class="list-group-item borderless">
            <a>
                Repeater
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>